.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e1e1e1;
}

.sidebarMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebarMain img {
  margin-right: 10px;
}

.container sidebar nav {
  margin: 10px;
}

.container sidebar nav h5 {
  margin-left: 12px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #a6a6a6;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.container sidebar a {
  display: flex;
  padding: 8px 12px;
  margin: 5px 0;
  color: #1e1e1e;
  border-radius: 5px;
  font-size: 0.9rem;
}

.active {
  background: #000;
}

.container sidebar a:hover {
  background: #e1e1e1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 90px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #eaeaea;
}

.header a {
  padding: 10px;
  font-weight: bold;
}

.main section {
  min-height: calc( 100vh - 190px);
  background: #fafafa;
  padding: 20px;
}

.card {
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  color: inherit;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease, background 0.15s ease;
}

.card:hover {
  color: #0070f3;
  border-color: #0070f3;
  background: #fff;
}

.card h3 {
  margin: 0;
  margin-bottom: 15px;
}

.card p {
  margin: 0;
  opacity: .6;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}