.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.input:hover,
.input:focus,
.input:active {
  color: #0070f3;
  border-color: #0070f3;
}

.input label {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.input input {
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  outline: none;
}

.form button {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background: #0070f3;
  color: #fff;
  border: none;
  font-weight: bold;
}

.form button:hover {
  background: #378cec;
}


.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
